* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  --main-color: #283526;
  --primary-color: #888888;
  --button-background: #4b709e;
  --primary-button-background: #fe7649;
  --background-color: #e2efff;
}
h1,
h2 {
  font-family: Avenir LT Std;
  color: var(--main-color);
}
h3,
h4 {
  font-family: "muli";
  color: var(--main-color);
}
h3 {
  font-weight: 750;
  font-size: 2.2rem;
  line-height: 6rem;
  text-transform: capitalize;
}
p,
li,
a,
button {
  font-family: "muli";
  color: var(--primary-color);
}
p {
  font-size: 1.8rem;
  line-height: 150%;
  font-style: normal;
  font-weight: normal;
}
a {
  text-decoration: none;
  cursor: pointer;
}
li {
  list-style: none;
}
button {
  padding: 1rem 3rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  outline: none;
  line-height: 3.6rem;
  text-transform: capitalize;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
}
/*-------------------------- our menu style----------------------------------------------------
--------------------------------------------------- */
header {
  padding: 0 20rem;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 12rem;
}
header nav .left-side-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  /* background-color: var(--background-color); */
}
header nav .right-side-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .left-side-menu a img {
  width: 13rem;
  height: 5.5rem;
}
header nav .left-side-menu .sub-menu {
  height: inherit;
  display: flex;
}
header nav .left-side-menu .sub-menu a {
  margin-right: 4rem;
}
header nav .left-side-menu .sub-menu a li {
  font-size: 2rem;
  line-height: 3.6rem;
  text-transform: capitalize;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
header nav .left-side-menu .sub-menu a li:hover {
  color: var(--button-background);
}

/* .right-side-menu css */

header .right-side-menu .sub-menu {
  width: 100%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .right-side-menu .sub-menu a {
  margin-right: 8rem;
  padding: 0.7rem 2rem;
}
